<div class="mt-5">
    <form method="post">
  <div class="form-group">
    <label for="search-input">Key</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter key to search">
  </div>
    <div class="form-group">
    <label for="gender-input">Gender</label>
<select name="gender" class="form-control" id="gender-input">
<option value="none">-- Chọn giới tính --</option>
<option value="male">Nam</option>
<option value="female">Nữ</option>
</select>
   <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>